@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen bg-baseBgColor text-gray-50 font-Heebo tracking-wide;
  }
}

@layer components {
  .card-link {
    @apply h-12 flex items-center justify-center rounded-lg border border-neutral-600 bg-neutral-700/40 shadow-lg text-sm;
  }
}

@layer utilities {
  /* layouts/ */
  .socialbar-link {
    @apply border border-current w-9 h-9 text-lg rounded-full flex items-center justify-center transition-colors [&:not(:hover)]:text-gray-50;
  }
  /* layouts/ */

  /* pages/ */
  .page-base {
    @apply flex flex-col gap-10 text-center items-center;
  }
  .page-title {
    @apply text-center text-4xl sm:text-5xl md:text-6xl font-black transition-colors;
  }
  .whoami-link {
    @apply underline transition-colors hover:text-yellow-300;
  }

  /* pages/portfolio */
  .portfolio-filter {
    @apply px-2 py-1 text-neutral-400 hover:bg-neutral-800 hover:text-gray-50 transition-colors rounded-lg hover:cursor-pointer;
  }
  .portfolio-card-link {
    @apply flex items-center justify-center gap-2 h-10 cursor-pointer rounded-md border border-neutral-600 bg-neutral-800/30 px-2 shadow-red-400 transition duration-300 ease-in-out hover:border-red-400 hover:text-red-400 hover:shadow-[0px_0px_10px];
  }
  .portfolio-card::before,
  .portfolio-card::after {
    @apply absolute left-0 z-10 h-full w-full bg-[#222222] transition duration-500 content-[''];
  }
  .portfolio-card::before {
    @apply -top-5 -translate-y-full;
  }
  .portfolio-card:before {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  }
  .portfolio-card::after {
    @apply -bottom-5 translate-y-full;
  }
  .portfolio-card:after {
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  }
  .portfolio-card:hover::before,
  .portfolio-card:hover::after {
    @apply translate-y-0;
  }
  /* pages/portfolio */
  /* pages/ */

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
